.detailsContainer {
  display: flex;
  justify-content: center;
}
.columns {
  max-width: 400px;
  width: 80%;
  margin: 20px;
  height: auto;
  height: 80%;
}

.detailsContainer img {
  border-radius: 15px;
}

.detailsContainer p {
  font-size: 1.5rem;
}

.detailsContainer p:nth-child(1) {
  margin-top: 0;
}

@media (max-width: 768px) {
  .detailsContainer {
    flex-direction: column;
    align-items: center;
  }
  .detailsContainer p {
    font-size: 1rem;
  }
}
